project_id = "your-project-id"

[api]
enabled = true
port = 54321
schemas = ["public", "storage", "auth"]
extra_search_path = ["public"]

[db]
port = 54322
shadow_port = 54320

[studio]
enabled = true
port = 54323


[inbucket]
enabled = true
port = 54324
